.container {
  width: 1024px;
  height: 863px;
  padding: 0 20px;
  margin: 0 auto;
}

.game-name-container {
  margin-bottom: 25px;
}

.board {
  width: 840px;
  height: 680px;
  margin: 0 auto;
  position: relative;
  background-image: url(../img/board.jpg);
  background-repeat: no-repeat;
  background-size: 840px 680px;
}
