@import url('./reset.css');

body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

#messageArea {
  position: relative;
  top: 0%;
  left: 0%;
  z-index: 100;
  color: rgb(83, 175, 19);
}

#counterArea {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 100;
  color: rgb(83, 175, 19);
}

form {
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color: rgb(83, 175, 19);
}

form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}

.go-back {
  display: block-inline;
  position: absolute;
  color: rgb(152, 207, 113);
  padding: 6px 15px;
  border-radius: 20px;
}

.go-back:hover {
  background-color: rgb(83, 175, 19);
  color: white;
}

.container {
  width: 1024px;
  height: 863px;
  padding: 20px 20px;
  margin: 0 auto;
}

.board {
  position: relative;
  width: 840px;
  height: 680px;
  margin: 0 auto;
  background-image: url(../img/board.jpg);
  background-repeat: no-repeat;
  background-size: 840px 680px;
}

.hit {
  background-image: url(../img/ship.png);
  background-position: center;
  background-repeat: no-repeat;
}

.miss {
  background-image: url(../img/miss.png);
  background-position: center;
  background-repeat: no-repeat;
}

table {
  position: absolute;
  top: 60px;
  left: 127px;
  padding: 15px;
}

td {
  width: 75px;
  height: 73px;
}

.play-again-modal {
  display: none;
}
