.go-back {
  display: block-inline;
  position: absolute;
}

.container {
  width: 1024px;
  height: 863px;
  padding: 0 20px;
  margin: 0 auto;
}

.board {
  position: relative;
  width: 840px;
  height: 680px;
  margin: 0 auto;
  background-image: url(../img/board.jpg);
  background-repeat: no-repeat;
  background-size: 840px 680px;
}

#messageArea {
  position: absolute;
  top: 0%;
  left: 0%;
  color: rgb(83, 175, 19);
}

table {
  position: absolute;
  top: 60px;
  left: 127px;
  padding: 15px;
}

td {
  width: 75px;
  height: 73px;
}

form {
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color: rgb(83, 175, 19);
}

form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}
