@import url('./reset.css');

body {
  background-color: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  z-index: 2000;
}

.logo {
  font-size: 1em;
  color: #359381;
  pointer-events: none;
}

.link-to-game a {
  display: block;
  text-decoration: none;
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px 10px 10px;
  font-weight: 900;
}

.section-with-games p {
  display: block;
  text-decoration: none;
  color: #f9f9f9;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px 10px 10px;
  font-weight: 400;
}

.history-list {
  margin-top: 140px;

  margin-bottom: 140px;
}

.link-to-game a:hover {
  background-color: #359381;
  color: #f9f9f9;
}

.parallax {
  height: 100vh;
}

.section-with-games {
  margin-top: 80px;
  position: relative;
  z-index: 2000;
  background-color: #003329;
  padding: 100px;
}

.headlinePlayGames {
  position: absolute;
  min-width: 1400px;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  z-index: 1000;
  color: #f9f9f9;
  font-size: 5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.history-headline {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #f9f9f9;
  padding: 6px 15px;
  font-weight: 900;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.down-pictures {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 1500;
}
